body {
  font-family: sans-serif;
}

header {
  padding: 15px 0px;

  .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
}

nav {
  a {
    font-size: 14px;
    text-transform: uppercase;
  }
      .current {
          color: red;
        }
}

#vnav {
  padding: 20px;
}

#slider {

  .slider {
    width: 100%;
    margin-top: 20vh;
    height: 60vh;
    background-color: #222;
  }

  .cta {
    display: block;
    padding: 18px 36px;
    font-size: 14px;
    background-color: gray;
    border: 0;
    border-radius: 4px;
    margin: -30px 0 0 10px;

    &.principal {
      background-color: orangered;
      margin-left: 20px;
      color: white;
    }
  }
}

#about {
  padding: 30px 0;
}

#pensadores {
  color: white;
  padding: 50px 0;
  background-color: #222;
}