@import '_variables';

body {
  font-family: sans-serif;
}

h4, h5, h6 {
  font-family: $body !important;
}

.cta {
  font-family: $body;
}

header {
  padding: 15px 0px;

  .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
}

nav {
  a {
    font-size: 14px;
    text-transform: lowercase;
  }
      .current {
          color: $primary;
          border-bottom: 1px solid $primary;
        }
}

#vnav {
  padding: 20px;
}

#slider {

  .slider {
    width: 100%;
    margin-top: 20vh;
    margin-bottom: 15px;
    height: 60vh;
    background-color: $black;
  }

  a:hover {
    text-decoration: none;
  }

  .cta {
    display: inline-block;
    color: rgb(88, 88, 88);
    font-size: 20px;
    font-weight: 400;
    font-style: italic; 
    background-color: transparent;
    margin-left: 15px;
    padding: 0 0 7px 0;
    border: 0;

    &.principal {
      border-bottom: 5px solid $black;
      padding: 0 0 5px 0;
      color: $black;
      margin-left: 0;
    }
    
    &:hover {
      background-color: $black;
      color: white;
    }

    
  }
}

#about {
  padding: 30px 0;
}

#pensadores {
  color: white;
  padding: 50px 0;
  background-color: $black;

  .decada {
    margin-bottom: 15px;
  }

  a {
    color: $secondary;
  }

  .autorthumb {
    img {
      width: 100%;
      margin-bottom: 4px;
    }
    margin-bottom: 16px;
  }
}

.author {
  #title {
    margin-top:10vh;
  }

  .referencias {
    list-style: none;
    padding: 0;

    li {
      font-size: 0.7em;
      margin-bottom: 5px;
    }
  }
}


.infografico {

  a {
    font-family: $body;
    font-size: 0.8em;
    padding: 10px !important;
    display: block;
    color: $black;

    &:hover {
      color: white;
      background-color: $black;
    }
  }

  .thumb {
    width: 100%;
    margin-bottom: 8px;
  }

  .autores {
    font-weight: 700;
  }
}

